<div class="btn-group sub-view" style="display:inline-block;">
	<h1> Episodes </h1>
</div>
<section class="stats" style="box-sizing:border-box;margin-top:25px;">
	<div class="row">
		<ul class="list-unstyled">
			{{#if videos}}
				{{#each videos}}
			<li class="box text-left col-md-12" style="display:inline-block;border:1px solid #eee;padding:25px 15px;">
				<div class="thumbnail col-md-2" style="margin-right:15px;">
					<img src="http://cdn.panasonic.com/images/imageNotFound400.jpg" width="100" height="75" />
				</div>
				<a href="/screencasters/episode/{{this.id}}"><h3>{{this.title}}</h3></a>
				<p style="font-size:13px;color:#aaa;">{{this.shownotes.0.shortened}}</p>
			</li>
				{{/each}}
			{{else}}
			<li class="box text-center col-md-12" style="display:inline-block;padding:25px 0px;">
				<h3>Woohoo, you have no videos waiting to be approved.</h3>
			</li>
			{{/if}}
		</ul>
	</div>
</section>