<div class="btn-group sub-view">
	<a class="btn btn-primary" href="/admin"><i class="icon-user icon-white"></i> Dashboard</a>
	<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/admin"><i class="icon-pencil"></i> Dashboard</a></li>
		<li><a href="/admin/episodes"><i class="icon-trash"></i> Episodes</a></li>
		<li><a href="/admin/users"><i class="icon-ban-circle"></i> Users</a></li>
	  </ul>
</div>
<section class="stats" style="box-sizing:border-box;margin-top:25px;">
	<div class="row">
		<ul>
			{{#each boxes}}
			<li class="box text-center col-md-4" style="display:inline-block;list-style-type:none;border:1px solid #eee;padding:25px 0px;">
				<h3>{{this.data}}</h3>
				<p style="font-size:13px;color:#aaa;">{{this.title}}</p>
			</li>
			{{/each}}
		</ul>
	</div>
</section>