<div class="btn-group sub-view">
	<a class="btn btn-primary" href="/admin/users"><i class="fa fa-user"></i> Users</a>
	<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="/admin/episodes"><i class="fa fa-caret-square-o-right"></i> Episodes</a></li>
		<li><a href="/admin/users"><i class="fa fa-user"></i> Users</a></li>
	  </ul>
</div>
<section class="users" style="box-sizing:border-box;margin-top:25px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td>Twitter Handle</td>
				<td>Created on</td>
				<td>Status</td>
				<td style="width: auto;"></td>
			</tr>
		</thead>
		<tbody>
		{{#each users}}
			<tr>
				<td>{{this.id}}</td>
				<td>@{{this.twitter_username}}</td>
				<td>{{this.createdAt}}</td>
				<td>Active</td>
				<td>
					<div class="btn-group level">
						<a class="btn btn-primary" href="#"><i class="fa fa-user"></i> Admin</a>
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-pencil"></i> Viewer</a></li>
							<li><a href="#"><i class="fa fa-pencil"></i> Screencaster</a></li>
							<li><a href="#"><i class="fa fa-trash-o"></i> Moderator</a></li>
							<li><a href="#"><i class="fa fa-ban"></i> Admin</a></li>
						  </ul>
					</div>
					<button type="button" class="btn btn-danger">Close Account</button>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</section>