<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading clearfix" style="width: 100%">
			<h3 class="pull-left">Episode Title</h3>
			<h4 class="pull-right" style="padding-top:14px">Screencaster</h4>
		</div>
		<div class="panel-body" style="width: 100%">
			<div>
				<div class="panel clearfix panel-warning" style="width: 100%">
					<div class="panel-heading clearfix" style="width: 100%">
						<p class="pull-left" style="padding-top:6px">Awaiting Approval</p>
						<div class="pull-right"> <a class="btn btn-success" style="margin-right: 5px">Approve</a><a class="btn btn-danger">Deny</a>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Tags</div>
					<div class="panel-body">
						<input type="text" class="form-control" value="Hi, Hello, Sup">
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading clearfix" style="width: 100%">
						<p class="pull-left" style="margin-top:3px">Shownotes</p> <a class="btn pull-right btn-info btn-xs">+</a>
					</div>
					<div></div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>Language</th>
									<th>Status</th>
									<th>Controls</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>English</td>
									<td>Approved</td>
									<td> <a class="btn btn-danger">Remove</a>
									</td>
								</tr>
								<tr>
									<td>Spanish</td>
									<td>Awaiting Approval</td>
									<td> <a class="btn btn-success">Approve</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div></div>
					<div></div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading clearfix" style="width: 100%">
						<p class="pull-left" style="margin-top:3px">Transcriptions</p>
						<p></p> <a class="btn pull-right btn-info btn-xs">+</a>
					</div>
					<div></div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>Language</th>
									<th>Status</th>
									<th>Controls</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>English</td>
									<td>Approved</td>
									<td> <a class="btn btn-danger">Remove</a>
									</td>
								</tr>
								<tr>
									<td>Spanish</td>
									<td>Awaiting Approval</td>
									<td> <a class="btn btn-success">Approve</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>