<h1>{{user.name}}</h1>

<table class="table">
  <tr>
    <th>Role</th>
    <td>{{userRoleToString user.role}}</td>
  </tr>
  <tr>
    <th>Language</th>
    <td><input type="text" name="language" id="language" value="{{user.language}}" class="form-control"></td>
  </tr>
</table>

<!-- todo: fix this terrible insecurity -->
<input type="hidden" name="id" value="{{user.id}}">

<button type="button" class="btn btn-primary" name="submitSettings">Submit</button>