<h1>{{user.name}}</h1>

<form method="post" id="user-form">

	<!-- TODO: BUILD THIS -->

	<input type="submit" class="btn btn-primary" value="Update">
</form>

<script>
	$("#user-form").ajaxForm()
	$("#language").chosen()
</script>
