<h1>{{user.name}}</h1>

<table class="table">
  <tr>
    <th>Role</th>
    <td>{{userRoleToString user.role}}</td>
  </tr>
  <tr>
    <th>Language</th>
    <td>{{user.language}}</td>
  </tr>
</table>

<input type="submit">

<a href="/logout"><h3>Log out</h3></a>