<h1>{{user.name}}</h1>

<form method="post">
  <table class="table">
    <tr>
      <th>Role</th>
      <td>{{userRoleToString user.role}}</td>
    </tr>
    <tr>
      <th>Language</th>
      <td><input type="text" name="language" id="language" value="{{user.language}}"></td>
    </tr>
  </table>

  <!-- todo: fix this terrible insecurity -->
  <input type="hidden" name="id" value="{{user.id}}">

  <input type="submit">
</form>

<a href="/logout"><h3>Log out</h3></a>