<form>
<ul class="list-group">
	<li class="list-group-item">Title: <input type="text" name="videoTitle"></li>
	<li class="list-group-item">Tags: <input type="text" name="videoTags"></li>
</ul>
</form>
