<!DOCTYPE html>
<html>
<head>
	<title>CodePilot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS -->
		<!-- Bootstrap -->
			<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Chosen -->
			<link href="/components/chosen-chi/chosen/chosen.css" rel="stylesheet">
		<!-- FontAwesome -->
			<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- Custom -->
			<link href="/css/base.css" rel="stylesheet">
	<!-- /CSS -->


	<!-- JS -->
		<!-- JQuery -->
				<script src="/components/jquery/jquery.min.js"></script>
		<!-- Chosen -->
				<script src="/components/chosen-chi/chosen/chosen.jquery.min.js"></script>
		<!-- Bootstrap -->
				<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Moment -->
				<script src="/components/moment/min/moment.min.js"></script>
		<!-- JQuery Form -->
				<script src="/components/jquery-form/jquery.form.js"></script>
	<!-- /JS -->

</head>
<body style="margin-right:0px !important;">
	{{>navbar}}

	<div class="row" style="padding-top: 70px; margin: 0 !important">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			{{{ body }}}

		</div>
		<div class="col-md-2"></div>
	</div>
</body>
</html>