<form class="search-form" action="/search" method="post">
	<input type="search" name="query" class="form-control" placeholder="Search for a screencast" value="{{query}}">
</form>
<br>
<ul>
	{{#each result}}
		<li>{{this._source.title}}</li>
	{{/each}}
</ul>